/* Add Hall button */
button[class^="add_"] {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[class^="add_"]:hover {
    background-color: #218838;
}

/* Buttons with class starting with delete_ */
button[class^="delete_"] {
    padding: 8px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[class^="delete_"]:hover {
    background-color: #c82333;
}