<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Cinema Booking</h1>

    {% if session.role == 'admin' %}
        <a href="/logout" class="btn">Logout</a>
        <a href="/admin" class="btn">Admin Panel</a>
    {% elif session.username %}
        <p>Hello, {{ session.username }}!</p>
        <a href="/logout" class="btn">Logout</a>
        <a href="/account" class="btn">My Account</a>
    {% else %}
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
    {% endif %}


    <h1>Now Showing</h1>

    <div class="movies">
    {% for m in movies %}
        <div class="movie-card" onclick="window.location.href='/movie/{{ m[0] }}';">
            <img src="{{ url_for('static', filename='posters/' + m[4]) }}" alt="{{ m[1] }}">
            <h2>Title: {{ m[1] }}</h2>
            <p><strong>Genre:</strong> {{ m[2] }}</p>
            <p><strong>Description:</strong> {{ m[3] }}</p>
            <p><strong>Duration:</strong> {{ m[5] }} minutes</p>
            {# <a href="{{ url_for('movie_sessions', movie_id=m[0]) }}" class="btn">View Sessions</a> #}
        </div>
    {% else %}
        <p>No movies available at the moment.</p>
    {% endfor %}
</div>
</body>
</html>
